<div class="ui container">
    <form class="ui form" (ngSubmit)="signIn(loginForm.value)" [ngFormModel]="loginForm">
        <div class="field" [class.error]="!emailField.valid && emailField.touched">
            <label>First Name</label>
            <input type="email"
                   name="email23"
                   placeholder="Email Address"
                   required
                   [ngFormControl]="loginForm.controls['email']"
            >
        </div>
        <div [hidden]="emailField.valid || emailField.pristine" class="ui error">
            Email is required
        </div>
        <div class="field" [class.error]="passwordField.hasError('required')">
            <label>Last Name</label>
            <input
                    type="password"
                    name="password23"
                    placeholder="password"
                    required
                    [ngFormControl]="loginForm.controls['password']"
                    >
        </div>
        <div *ngIf="passwordField.hasError('required')" class="ui error">
            Password is required
        </div>
        <div class="field">
            <label>User Type</label>
            <select required >
                <option>User A</option>
                <option>User B</option>
            </select>
        </div>
        <button class="ui button" type="submit" [disabled]="!loginForm.valid">Submit</button>
    </form>
</div>
