<div class="ui container">
    <form class="ui form" (ngSubmit)="signIn(loginForm.value)" #loginForm="ngForm">
        <div class="field">
            <label>First Name</label>
            <input type="email"
                   name="email23"
                   placeholder="Email Address"
                   required
                    ngControl="email"
                   #email="ngForm"
            >
        </div>
        <div [hidden]="email.valid || email.pristine" class="ui error">
            Email is required
        </div>
        <div class="field">
            <label>Last Name</label>
            <input
                    type="password"
                    name="password23"
                    placeholder="password"
                    required
                    ngControl="password"
                    #password="ngForm">
        </div>
        <div class="ui error message">
            Password is required
        </div>
        <div class="field">
            <label>User Type</label>
            <select required ngControl="userType" #userType="ngForm">
                <option>User A</option>
                <option>User B</option>
            </select>
        </div>
        <button [disabled]="!loginForm.form.valid" class="ui button" type="submit">Submit</button>
    </form>
</div>
