<div class="ui container">
    <form class="ui form" (ngSubmit)="signIn(loginForm.value)" [ngFormModel]="loginForm">
        <div class="field" [class.error]="!loginForm.find('email').valid && loginForm.find('email').touched">
            <label>First Name</label>
            <input type="email"
                   name="email23"
                   placeholder="Email Address"
                   required
                   [ngFormControl]="loginForm.controls['email']"
            >
        </div>
        <div [hidden]="loginForm.find('email').valid || loginForm.find('email').pristine" class="ui error">
            Email is required
        </div>
        <div class="field" [class.error]="loginForm.find('password').hasError('required')">
            <label>Last Name</label>
            <input
                    type="password"
                    name="password23"
                    placeholder="password"
                    required
                    [ngFormControl]="loginForm.controls['password']"
                    #password="ngForm"
                    >
            <div *ngIf="password.control.hasError('required') && !password.control.pristine" class="ui error">
                Password is required
            </div>
        </div>

        <div class="field">
            <label>User Type</label>
            <select required >
                <option>User A</option>
                <option>User B</option>
            </select>
        </div>
        <button class="ui button" type="submit" [disabled]="!loginForm.valid">Submit</button>
    </form>
</div>
